Repository apollographql/rover, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/graph-tooling, @apollographql/team-growth, @apollographql/docs

.github/CODEOWNERS:

* @apollographql/graph-tooling
Cargo.lock @apollographql/team-growth @apollographql/graph-tooling
docs @apollographql/docs @apollographql/graph-tooling
src/command/init @apollographql/team-growth @apollographql/graph-tooling
src/command/tests @apollographql/team-growth @apollographql/graph-tooling
src/options @apollographql/team-growth @apollographql/graph-tooling

feat(init): Integrate auth after rebase and make two option modules private
  crates/rover-std/src/lib.rs
  src/command/init/mod.rs
  src/options/mod.rs
  src/options/project_authentication.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

Temporarily revert comment change
  crates/rover-client/src/operations/config/who_am_i/service.rs
Owners: @apollographql/graph-tooling

Delete comment
  crates/rover-client/src/operations/config/who_am_i/service.rs
Owners: @apollographql/graph-tooling

Adding Graph key creation
  Cargo.toml
  crates/rover-client/src/operations/init/key/init_new_key_mutation.graphql
  crates/rover-client/src/operations/init/key/mod.rs
  crates/rover-client/src/operations/init/key/runner.rs
  crates/rover-client/src/operations/init/key/types.rs
  crates/rover-client/src/operations/init/mod.rs
  crates/rover-client/src/operations/mod.rs
  src/cli.rs
  src/command/init/helpers.rs
  src/command/init/mod.rs
  src/command/init/operations.rs
  src/command/init/transitions.rs
  src/options/project_graphid.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

setting up graph creation and working through publishing subgraphs
  src/command/init/transitions.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

Fix lint issues
  src/command/init/mod.rs
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

Changing connector repository name
  src/command/init/transitions.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling
