Repository apollographql/rover, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/graph-dev, @apollographql/team-growth, @apollographql/docs

.github/CODEOWNERS:

* @apollographql/graph-dev
crates/rover-client @apollographql/team-growth @apollographql/graph-dev
Cargo.lock @apollographql/team-growth @apollographql/graph-dev
docs @apollographql/docs @apollographql/graph-dev
src/command/init @apollographql/team-growth @apollographql/graph-dev
src/command/tests @apollographql/team-growth @apollographql/graph-dev
src/options @apollographql/team-growth @apollographql/graph-dev
src/command/connector @apollographql/graph-dev
src/command/lsp @apollographql/graph-dev

Update docs for subgraph keys (#2708)
  docs/source/ci-cd.mdx
  docs/source/configuring.mdx
Owners: @apollographql/docs, @apollographql/graph-dev

remove api-key preview message
  docs/source/commands/api-key.mdx
Owners: @apollographql/docs, @apollographql/graph-dev

remove api-key preview message (#2752)
  docs/source/commands/api-key.mdx
Owners: @apollographql/docs, @apollographql/graph-dev

Rename path to schema in connectors cli
  src/composition/supergraph/binary.rs
Owners: @apollographql/graph-dev

ci: Fix a bunch of Renovate config
  .github/renovate.json5
  Cargo.toml
  xtask/Cargo.toml
Owners: @apollographql/graph-dev

fix(init): Remove conditional header in vscode json file
  src/command/init/helpers.rs
  src/command/init/tests/mcp_prompting_tests.rs
Owners: @apollographql/team-growth, @apollographql/graph-dev

fix(init|mcp): Remove conditional header in VSCode file from MCP template processing (#2757)
  src/command/init/helpers.rs
  src/command/init/tests/mcp_prompting_tests.rs
Owners: @apollographql/team-growth, @apollographql/graph-dev

ci: Fix a bunch of Renovate config (#2756)
  .github/renovate.json5
  Cargo.toml
  xtask/Cargo.toml
Owners: @apollographql/graph-dev

Rename path to schema in connectors cli (#2754)
  src/composition/supergraph/binary.rs
Owners: @apollographql/graph-dev

Removes unnecessary modules with duplicated test cfg
  crates/rover-client/src/operations/cloud/config/fetch.rs
  crates/rover-client/src/operations/cloud/config/update.rs
  crates/rover-client/src/operations/cloud/config/validate.rs
  crates/rover-client/src/operations/subgraph/check_workflow/runner.rs
  crates/rover-client/src/shared/git_context.rs
  crates/rover-studio/src/lib.rs
  crates/sputnik/src/session.rs
  src/command/init/options/project_template.rs
  src/command/init/tests/authentication_tests.rs
  src/command/init/tests/mcp_agents_merge_tests.rs
  src/command/init/tests/mcp_behavior_tests.rs
  src/command/init/tests/mcp_integration_tests.rs
  src/command/init/tests/mcp_prompting_tests.rs
  src/command/init/tests/mcp_transitions_tests.rs
  src/command/init/tests/project_authentication_tests.rs
  src/command/init/tests/template_hydration_tests.rs
  src/command/init/tests/transitions_tests.rs
Owners: @apollographql/team-growth, @apollographql/graph-dev

Cargo update
  Cargo.lock
  Cargo.toml
Owners: @apollographql/team-growth, @apollographql/graph-dev

fmt
  src/command/init/tests/authentication_tests.rs
  src/command/init/tests/mcp_agents_merge_tests.rs
  src/command/init/tests/mcp_prompting_tests.rs
  src/command/init/tests/project_authentication_tests.rs
  src/command/init/tests/template_hydration_tests.rs
Owners: @apollographql/team-growth, @apollographql/graph-dev

Removes unnecessary modules with duplicated test cfg (#2762)
  crates/rover-client/src/operations/cloud/config/fetch.rs
  crates/rover-client/src/operations/cloud/config/update.rs
  crates/rover-client/src/operations/cloud/config/validate.rs
  crates/rover-client/src/operations/subgraph/check_workflow/runner.rs
  crates/rover-client/src/shared/git_context.rs
  crates/rover-studio/src/lib.rs
  crates/sputnik/src/session.rs
  src/command/init/options/project_template.rs
  src/command/init/tests/authentication_tests.rs
  src/command/init/tests/mcp_agents_merge_tests.rs
  src/command/init/tests/mcp_behavior_tests.rs
  src/command/init/tests/mcp_integration_tests.rs
  src/command/init/tests/mcp_prompting_tests.rs
  src/command/init/tests/mcp_transitions_tests.rs
  src/command/init/tests/project_authentication_tests.rs
  src/command/init/tests/template_hydration_tests.rs
  src/command/init/tests/transitions_tests.rs
Owners: @apollographql/team-growth, @apollographql/graph-dev

Cargo update (#2765)
  Cargo.lock
  Cargo.toml
Owners: @apollographql/team-growth, @apollographql/graph-dev

Cleans unused dependencies - cargo machete
  Cargo.lock
  Cargo.toml
  crates/rover-client/src/blocking/client.rs
  crates/rover-graphql/Cargo.toml
  crates/rover-http/Cargo.toml
  crates/rover-http/src/extend_headers.rs
  crates/rover-http/src/reqwest.rs
  crates/rover-http/src/retry.rs
  crates/rover-studio/Cargo.toml
  crates/sputnik/src/session.rs
  deny.toml
  src/command/dev/mcp/install.rs
  src/command/dev/router/install.rs
  src/composition/supergraph/install.rs
  tests/e2e/options/client_timeout.rs
  tests/e2e/supergraph/fetch.rs
  xtask/Cargo.toml
Owners: @apollographql/team-growth, @apollographql/graph-dev

remove commented crates
  Cargo.toml
  crates/rover-graphql/Cargo.toml
  crates/rover-http/Cargo.toml
  crates/rover-studio/Cargo.toml
  xtask/Cargo.toml
Owners: @apollographql/graph-dev

Cleans unused dependencies - cargo machete (#2768)
  Cargo.lock
  Cargo.toml
  crates/rover-client/src/blocking/client.rs
  crates/rover-graphql/Cargo.toml
  crates/rover-http/Cargo.toml
  crates/rover-http/src/extend_headers.rs
  crates/rover-http/src/reqwest.rs
  crates/rover-http/src/retry.rs
  crates/rover-studio/Cargo.toml
  crates/sputnik/src/session.rs
  deny.toml
  src/command/dev/mcp/install.rs
  src/command/dev/router/install.rs
  src/composition/supergraph/install.rs
  tests/e2e/options/client_timeout.rs
  tests/e2e/supergraph/fetch.rs
  xtask/Cargo.toml
Owners: @apollographql/team-growth, @apollographql/graph-dev
