Repository apollographql/rover, changes with the owners that .github/CODEOWNERS names for each.
All owners: @apollographql/graph-tooling, @apollographql/team-growth, @apollographql/docs

Apply suggestions from code review
  docs/source/commands/init.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

Update docs/source/commands/init.mdx
  docs/source/commands/init.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

Use <Note> for auth callout
  docs/shared/auth-notice.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

Reorder page
  docs/source/commands/supergraphs.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

Explain schema and routing_url
  docs/source/commands/supergraphs.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

handling `add to existing` option selected
  Cargo.toml
  src/command/init/helpers.rs
  src/command/init/mod.rs
  src/command/init/transitions.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

removing cargo.toml change
  Cargo.toml
Owners: @apollographql/graph-tooling

fixing whitespace
  src/command/init/helpers.rs
  src/command/init/transitions.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

adding `configuring` slug to doc command
  src/command/docs/shortlinks.rs
Owners: @apollographql/docs, @apollographql/graph-tooling

updating message include `config` slug to use `configuring`
  src/command/init/helpers.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

fixing lint errors and updating copy for use case
  src/command/init/mod.rs
  src/command/init/transitions.rs
  src/options/project_use_case.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

fixing invisible whitespace
  src/command/init/mod.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

fixing lint errors by correcting spacing
  src/command/init/mod.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): Remove max retry limit when entering graphid manually
  src/options/project_graphid.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): Correctly parse graphids with FromStr
  src/command/init/graph_id/generation.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): fix lint issues
  src/options/project_graphid.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

Update src/command/init/helpers.rs
  src/command/init/helpers.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

Remove IDE section
  docs/source/commands/init.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

Update copy
  docs/source/commands/init.mdx
Owners: @apollographql/docs, @apollographql/graph-tooling

feat(docs) Adding `configuring` slug to docs link list (#2495)
  src/command/docs/shortlinks.rs
  src/command/init/helpers.rs
Owners: @apollographql/docs, @apollographql/graph-tooling, @apollographql/team-growth

feat(init): Handling branching logic for project type selection (#2494)
  src/command/init/helpers.rs
  src/command/init/mod.rs
  src/command/init/transitions.rs
  src/options/project_use_case.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): Remove retry limit when entering graph ID manually (#2496)
  src/command/init/graph_id/generation.rs
  src/options/project_graphid.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

creating graph and attempting to publish subgraphs
  Cargo.toml
  crates/rover-client/src/error.rs
  crates/rover-client/src/operations/init/create_graph/create_graph_mutation.graphql
  crates/rover-client/src/operations/init/create_graph/mod.rs
  crates/rover-client/src/operations/init/create_graph/runner.rs
  crates/rover-client/src/operations/init/create_graph/types.rs
  crates/rover-client/src/operations/init/mod.rs
  crates/rover-client/src/operations/mod.rs
  src/cli.rs
  src/command/init/mod.rs
  src/command/init/states.rs
  src/command/init/template_operations.rs
  src/command/init/transitions.rs
  src/error/metadata/mod.rs
  src/options/project_graphid.rs
  taylor/.github/CODEOWNERS
  taylor/.vscode/extensions.json
  taylor/README.md
  taylor/getting-started.md
  taylor/image.png
  taylor/products.graphql
  taylor/supergraph.yaml
Owners: @apollographql/graph-tooling, @apollographql/team-growth

removing temp files
  taylor/.github/CODEOWNERS
  taylor/.vscode/extensions.json
  taylor/README.md
  taylor/getting-started.md
  taylor/image.png
  taylor/products.graphql
  taylor/supergraph.yaml
Owners: @apollographql/graph-tooling

feat(init): correctly parse graphids during validation testing
  src/command/init/graph_id/generation.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): Include authentication state for init flow
  src/cli.rs
  src/command/init/mod.rs
  src/command/init/states.rs
  src/command/init/transitions.rs
  src/options/mod.rs
  src/options/project_authentication.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

feat(init): Refactor auth step for better ux feedback
  Cargo.lock
  Cargo.toml
  src/command/init/mod.rs
  src/command/init/transitions.rs
  src/command/init/ui/mod.rs
  src/command/init/ui/symbols.rs
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): Move symbols and styles to rover-std crate
  crates/rover-std/src/lib.rs
  crates/rover-std/src/symbols.rs
  crates/rover-std/src/url.rs
  src/command/init/mod.rs
  src/command/init/ui/mod.rs
  src/command/init/ui/symbols.rs
  src/options/project_authentication.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

feat(init): add underline to hyperlinks
  crates/rover-std/src/style.rs
Owners: @apollographql/graph-tooling

feat(init): remove new inquire and secrecy imports
  Cargo.lock
  Cargo.toml
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): remove feat dependency
  Cargo.toml
Owners: @apollographql/graph-tooling

fix lint errors
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): updates to comments
  crates/rover-client/src/operations/config/who_am_i/service.rs
  src/command/init/helpers.rs
  src/command/init/states.rs
  src/command/init/transitions.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

feat(init): Comment out api_key logic
  src/command/init/helpers.rs
  src/command/init/states.rs
  src/command/init/transitions.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init) fix lint errors
  crates/rover-std/src/lib.rs
  crates/rover-std/src/url.rs
  src/options/project_authentication.rs
Owners: @apollographql/graph-tooling, @apollographql/team-growth

feat(init): remove comments
  Cargo.toml
  crates/rover-std/src/url.rs
Owners: @apollographql/graph-tooling

feat(init): Update server-side error for auth step
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): remove init feature from cargo
  Cargo.toml
Owners: @apollographql/graph-tooling

Fix linting errors
  src/command/init/ui/mod.rs
  src/command/init/ui/symbols.rs
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

feat(init): Pass client_config to init command for authentication validation
  src/command/init/mod.rs
  src/command/init/transitions.rs
  src/options/mod.rs
  src/options/project_authentication.rs
Owners: @apollographql/team-growth, @apollographql/graph-tooling

.github/CODEOWNERS:

* @apollographql/graph-tooling
Cargo.lock @apollographql/team-growth @apollographql/graph-tooling
docs @apollographql/docs @apollographql/graph-tooling
src/command/init @apollographql/team-growth @apollographql/graph-tooling
src/command/tests @apollographql/team-growth @apollographql/graph-tooling
src/options @apollographql/team-growth @apollographql/graph-tooling
